################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Authentication/bin/Debug
/Authentication/obj
/WebApplicationAuthentication/bin
/WebApplicationAuthentication/obj
/WebApplicationAuthentication/App_Data
