################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Authentication/bin/Debug
/Authentication/obj
/WebApplicationAuthentication/bin
/WebApplicationAuthentication/obj
/WebApplicationAuthentication/App_Data
/Mvc5Auth/bin
/Mvc5Auth/obj
/MVC5WinAuth/bin
/MVC5WinAuth/obj/Debug
/packages/Microsoft.AspNet.WebPages.Data.2.0.20710.0
/packages/Microsoft.AspNet.WebPages.WebData.2.0.20710.0
/packages/WebMatrix.WebData.2.0.30506.0
/MVC5WinAuth
/MVC Authentication/.vs
/MVC Authentication/Api/bin
/MVC Authentication/Api/obj
/MvcClient/bin/Debug/netcoreapp2.0
/MvcClient/obj
/QuickstartIdentityServer/bin/Debug/netcoreapp2.0
/QuickstartIdentityServer/obj
/MVC Authentication/EmbeddedMvc/IdentityServer
/MVC Authentication/EmbeddedMvc/obj
/MVC Authentication/EmbeddedMvc/bin
/CoreMvcClient/.vs/CoreMvcClient
/CoreMvcClient/CoreMvcClient/bin/Debug/netcoreapp2.1
/CoreMvcClient/CoreMvcClient/obj
/MvcClient/.vs
/MvcClient/MvcClient/bin
/MvcClient/MvcClient/obj/Debug
/IdetityServer/bin/Debug/netcoreapp2.1
/IdetityServer/obj
/MVC_Client/bin/Debug/netcoreapp2.1
/MVC_Client/obj/Debug/netcoreapp2.1
/MVC_Client/obj
/IdetityServer/bin/IISSupport
/IdetityServer/Logs
/MVC_FrameworkClient/.vs
/MVC_FrameworkClient/MvcIdentityServer/bin
/MVC_FrameworkClient/MvcIdentityServer/obj
/MvcIdentityServer/bin
/MvcIdentityServer/obj/Debug
/ActiveDirectoryTest/bin/Debug/netcoreapp2.1
/ActiveDirectoryTest/obj
/MvcIdentityServer/obj/Release
