
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

This is protected

@using (Html.BeginForm("LogOff", "Account"))
{
    @Html.AntiForgeryToken()
    <input type="submit" value="LogOff" />
}