<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Add this section to reference the identityModel-->
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>  
  <!--And Add this section to set up claimsAuthentication and ClaimAuthorization-->
  <!--The type value may differ in your case depending on the name you gave your project. 
  You’ll need to give the fully qualified name of the class, i.e. namespace and the class name 
  and then the assembly name after the comma-->
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthenticationManager type="Authentication.CustomClaimsTransformer,Authentication"/>
      <claimsAuthorizationManager type="Authentication.CustomAuthorizationManager,Authentication"/>
    </identityConfiguration>
  </system.identityModel>
  
  
  
</configuration>